.tag {
    padding: 10px 20px;
    background: cadetblue;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}